


#container
{
    width: 1050px;
    border: 1px solid black;
    height: 500px;
    margin: 0 auto; /* no top/bottom margin */
}


#header
{
    height: 100px;
}


#brand
{
    float: left;
}

h1 a
{
    font-size: 50px;
    font-weight: 100;
    color: purple;
    text-decoration: none; /* remove link underline */
}

#searchBox
{
    float: right;
    width: 400px;
    height: 75px;
    margin-top: 15px;
    background: radial-gradient(blue, green);
}


#textBar
{
    
    width: 200px;
    height: 12.5px;
    
    /* float in middle */
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    
    /* text padding */
    padding: 10px;
    font-size: 15px;
    
}

#submit
{
    float: right;
/*    width: 20px;*/
    padding: 5px;
    font-weight: bold;
    color: white;
    margin-top: 25px;
    background: radial-gradient(black, blue);
}